<div class="container">
  <div class="row">
    <div class="col-6 col-sm-3">
      <app-options-filter
        [label]="'Positions'"
        [options]="positions"
        [isMultiple]="true"
        (onOptionsChanged)="onPositionsFilterChanged($event)"
      ></app-options-filter>
    </div>
    <div class="col-6 col-sm-3">
      <app-options-filter
        [label]="'Date Applied'"
        [options]="dateRange"
        (onOptionsChanged)="onAppliedFilterChanged($event)"
      ></app-options-filter>
    </div>
    <div class="col-6 col-sm-3">
      <app-options-filter
        [label]="'Experience'"
        [options]="experienceRange"
        (onOptionsChanged)="onExperienceFilterChanged($event)"
      ></app-options-filter>
    </div>
    <div class="col-6 col-sm-3">
      <app-options-filter
        [label]="'Availability'"
        [options]="availabilities"
        [isMultiple]="true"
        (onOptionsChanged)="onAvailabilityFilterChanged($event)"
      ></app-options-filter>
    </div>
  </div>
</div>

<app-application-list
  [applications]="applicationsToDisplay"
></app-application-list>
